/*MENÚ HAMBURGUESA*/
#menu {
  background-color: rgb(142, 250, 115);
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  margin: 15px 0 15px 0;
  text-align: center;
}
/* Estilos del menú*/
#navegacion {
  overflow: hidden;
  background-color: rgb(93, 138, 81);
  position: relative;
}
/* Ocultar enlaces*/
#navegacion {
  display: none;
}

/* Menú de los enlaces */
#navegacion > a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Estilo del menú amborgesa */
.iconoHamburguesa::before {
  content: "Enlaces";
}
.iconoHamburguesa {
  display: flex;
  justify-content: center;
}

/* Remarca */
#navegacion > a:hover {
  background-color: #ddd;
  color: black;
}

/*ESTILOS GENERALES*/
body {
  background-color: rgb(255, 124, 64);
  font-family: sans-serif;
}
header img {
  width: 228px;
  height: 76px;
}
body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-areas: "header" "main" "footer";
  gap: 15px;
}
header {
  grid-area: header;
}
main {
  background-color: rgb(250, 115, 106);
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "modulos bolsa";
}
footer {
  grid-area: footer;
  background-color: white;
  text-align: center;
  padding-top: 15px;
}
#copy {
  margin: auto;
  width: 150px;
  font-size: 15px;
  text-align: center;
}
#social {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}

#social a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
}

#login {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  height: 45px;
  background-color: rgb(145, 225, 228);
  text-align: center;
  padding: 10px;
  border-radius: 0 0 0 15px;
  text-decoration: none;
  color: black;
}
#login:hover,
#login:active {
  background-color: rgb(88, 136, 138);
  color: white;
}
#login div {
  display: inline-block;
  margin: auto;
}

#modulos {
  background-color: rgb(248, 117, 220);
  display: flex;
  flex-direction: column;
  grid-area: modulos;
  border: 2px solid black;
  margin-right: 10px;
  padding-top: 5px;
}
#bolsa {
  background-color: rgb(248, 117, 220);
  display: flex;
  flex-direction: column;
  grid-area: bolsa;
  border: 2px solid black;
  margin-left: 10px;
  padding-top: 5px;
}

#modulos nav {
  background-color: black;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-evenly;
}
#modulos div {
  display: flex;
}
#modulos a {
  width: 100%;
  height: 40px;
  text-decoration: none;
  text-align: center;
  color: white;
  padding: auto;
}
#modulos a::before {
  content: ">";
}
#modulos a:hover {
  background-color: white;
  color: black;
}
#bolsa nav {
  background-color: black;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-evenly;
}
#bolsa div {
  display: flex;
}
#bolsa a {
  width: 100%;
  height: 40px;
  text-decoration: none;
  text-align: center;
  color: white;
  padding: auto;
}
#bolsa a::before {
  content: ">";
}
#bolsa a:hover {
  background-color: white;
  color: black;
}

h1 {
  font-size: 2em;
  align-self: center;
}

@media screen and (min-width: 700px) {
  #menu {
    background-color: rgb(93, 138, 81);
    color: white;
    display: flex;
  }
  #menu i {
    display: none;
  }
  #navegacion {
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
  }

  .iconoHamburguesa::before {
    content: "";
  }
}
