/*Estilos Ejercicio*/
#buscador {
  display: none;
}
#secundario > *:not(:nth-child(2)) {
  display: none;
}
#secundario {
  float: none;
  width: 100%;
}
#secundario a:after {
  content: "(" attr(href) ")";
}
