body {
  text-align: center;
}
table {
  margin: auto;
  border-collapse: collapse;
}
td,
th {
  border: 2px black solid;
}
a,
a:hover,
a:visited {
  font-weight: bold;
  margin-top: 5px;
  background-color: #00b050;
  text-decoration: none;
  border: 1px black solid;
}
