*{
    margin:0;
    padding:0;
    font-size:16px;
    font-family: "Arial",sans-serif;
}

nav{
    background-color: lightpink;
}

ul{
    list-style-type: none;
}

li{
    background-color: beige;
}

a{
    color:black;
    padding:5px 0;
    text-decoration: none;
}