body{
    font-size: 18px;
    font-weight: bold;
    margin:1em;
}
ul{
    padding:0;
    display:flex;
}

li{
    /* display:inline-flex;
    align-items: center;
    justify-content: space-between; */
    text-align: center;
    border:2px solid black;
    border-radius:1em;
    padding:0 1em;
    margin-right:1em;
    width:3em;
    background-color: lightgoldenrodyellow;
    list-style-type: none;
}